<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

    </head>
    <body>
       {% csrf_token %}
       <form method="POST">
           <br>
           <h3 style="text-align: center;">Create New Employee</h3>
           <hr>
           <div style="width: 500px; margin-left:300px; margin-top:50px;text-align: center;">
           <label class = "control-label col-md-2" >Username</label>
        {{form.username}}
        <br>
        <label class = "control-label col-md-2" >Password</label>
        {{form.password}}
        <br>
        <label class = "control-label col-md-2" >First Name</label>
        {{form.first_name}}
<br>
        <label class = "control-label col-md-2" >Last Name</label>
        {{form.last_name}}
        <br>
        <label class = "control-label col-md-2" >Email</label>
        {{form.email}}
        
<br>
 <input type="submit" value="Submit" >
</div>
       </form>
      
       
    </body>
</html>
